* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #6082b6;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 2vw;
}
